<div class="row">
    <div class="col-sm-4 col-md-4"></div>
    <div class="col-sm-4 col-md-4">
        <label> <select (change)="changePagingEmit()" [(ngModel)]="DataPaging.take" aria-controls="dtBasicExample"
                class="custom-select custom-select-sm form-control form-control-sm">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </label>
        <label> of {{DataPaging.total}} - page </label>
        <input type="number" [(ngModel)]="DataPaging.page" value="{{DataPaging.page}}" (change)="changePagingEmit()" min="1"
            max="{{DataPaging.pageTotal}}"><label> of {{DataPaging.pageTotal}}</label>
    </div>
    <div class="col-sm-4 col-md-4"></div>
</div>



<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="with-th" *ngFor="let key of ColGrid" >{{key.header}}</th>
            <th class="with-th" >Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let record of DataGrid">
            <td class="with-td" *ngFor="let key of ColGrid">{{record[key.fiel]}}</td>
           <td class="with-td">

            <button *ngIf="ButtonTable.editButon.active" class="btn btn-primary btn-sm" (click)="doAction(record[ButtonTable.editButon.field],ButtonTable.editButon)"> {{ButtonTable.editButon.type}}</button>

            <button *ngIf="ButtonTable.deleteButon.active" class="btn btn-danger btn-sm" (click)="doAction(record[ButtonTable.deleteButon.field],ButtonTable.deleteButon)" > {{ButtonTable.deleteButon.type}}</button>

            <button *ngIf="ButtonTable.detailButon.active" class="btn btn-info btn-sm" (click)="doAction(record[ButtonTable.detailButon.field],ButtonTable.detailButon)" >{{ButtonTable.detailButon.type}}</button>
           </td>
        </tr>
    </tbody>
</table>
