#dayweek{
    border: 1px;
    display: inline-block;
    width: auto;
    margin: auto;
    padding: 20px, 20px;
    text-align: justify;
}
table .btn{
    margin: 2px;
  }

  .seach{
      padding-bottom: 30px;
  }
